<div class="jumbotron">
    <h1 class="display-4">theScore "the Rush"</h1>
    <hr class="my-4">
    <p>USAGE: Save JSON input data first, then apply filters/sorting</p>
    <p></p>
    <p>sort by rushing yards, longest rush or rushing touchdowns</p>
    <p>filter by player name</p>
    <a class="btn btn-primary btn-lg" href="/rushing" role="button">Rushing list</a>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/rushing/addRushingDB" role="button">Save JSON rushings</a>
</div>