<div class="col-md-4 mx-auto">
    <div class="card card-body">
        <form action="/rushing/addRushing" method="POST">
            <div class="form-group">
                <input type="text" name="player" class="form-control" placeholder="player" autofocus required>
            </div>
            <div class="form-group">
                <input type="text" name="team" class="form-control" placeholder="team" required>
            </div>
            <div class="form-group">
                <input type="text" name="pos" class="form-control" placeholder="pos" required>
            </div>
            <div class="form-group">
                <input type="number" step="any" name="attg" class="form-control" placeholder="attg" required>
            </div>
            <div class="form-group">
                <input type="number" step="any" name="att" class="form-control" placeholder="att" required>
            </div>
            <div class="form-group">
                <input type="number" step="any" name="yds" class="form-control" placeholder="yds" required>
            </div>
            <div class="form-group">
                <input type="number" step="any" name="avg" class="form-control" placeholder="avg" required>
            </div>
            <div class="form-group">
                <input type="number" step="any" name="ydsg" class="form-control" placeholder="ydsg" required>
            </div>
            <div class="form-group">
                <input type="number" step="any" name="td" class="form-control" placeholder="td" required>
            </div>
            <div class="form-group">
                <input type="number" step="any" name="lng" class="form-control" placeholder="lng" required>
            </div>
            <div class="form-group">
                <input type="number" step="any" name="first" class="form-control" placeholder="first" required>
            </div>
            <div class="form-group">
                <input type="number" step="any" name="firstpercentage" class="form-control" placeholder="firstpercentage" required>
            </div>
            <div class="form-group">
                <input type="number" step="any" name="twenty" class="form-control" placeholder="twenty" required>
            </div>
            <div class="form-group">
                <input type="number" step="any" name="fourty" class="form-control" placeholder="fourty" required>
            </div>
            <div class="form-group">
                <input type="number" step="any" name="fum" class="form-control" placeholder="fum" required>
            </div>
            <button class="btn btn-primary btn-block">
                save
            </button>
        </form>
    </div>
</div>