<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Rushing</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/rushing"><u>Rushing list</u></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/rushing/addRushing"><u>Add a rushing entry</u></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/rushing/filterRushing"><u>Rushing filters</u></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/rushing/sortRushingByTotalYards"><u>Sort by total rushing yards</u></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/rushing/sortRushingByLongestRush"><u>Sort by longest rush</u></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/rushing/sortRushingByTouchdowns"><u>Sort by total rushing touchdowns</u></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/rushing/rushingExportCsv"><u>Export CSV</u></a>
            </li>
        </ul>
    </div>
</nav>